body{
    background-color:azure;
}
h1{
    color:darkcyan;
    font-size: 50px;
    text-align: center;
    font-family: 'merriwheather', Georgia, 'Times New Roman', Times, serif, sans-serif;

}
ul{
    list-style-type: square;
}
.primeraImagen{
;   height:200px;
    width:200px;
    border:5px solid:color(from color srgb r g b);
    margin-left:20px;
}